<ng-template [ngIf]="blueClass">
  <p>Button is blue</p>
</ng-template>

<!-- we can write the below statement instead of the above statement  -->
<!-- short syntax -->
<p *ngIf="blueClass">Huii this is the new syntax</p>
<!-- <div>ngIf directive => structural directive</div> -->

<button
  (click)="blueClass = !blueClass"
  [ngClass]="{ blue: blueClass }"
  [ngStyle]="{ 'font-size.rem': fontSize }"
>
  Change
</button>

<hr />
<input (keyup)="changeImage($event)" [value]="imgURL" />

<app-post
  *ngFor="let image of images; let i = index"
  [img]="image"
  (imgSelected)="logImg($event)"
  >Mayank Kachhadiya this is the caption {{ i }}
</app-post>

<h1>Hello World {{ name | titlecase }}</h1>
<h1>Hello World {{ getName() }}</h1>
<p>{{ currentDate | date : "MMMM d" }}</p>
<p>{{ currentDate | date : "shortDate" }}</p>
<p>{{ cost | currency : "INR" }}</p>
<p>{{ temperature | number : "1.0-0" }}</p>
